header {
  background-image: linear-gradient(to right, #6495ED, #00008B);
}

#searchBtn {
  background-image: linear-gradient(to right, #6495ED, #00008B);
}

.locationBtn {
  background-color: #A9A9A9;
}

#forecast > .card {
  background-color: #00008B;
  color: white;
}